{% extends 'shop/base.html' %}

{% block content %}

<div class="container">

    <div class="auth-container">

        <h2>Reset Password</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <input
                    type="password"
                    name="password1"
                    placeholder="New Password"
                    required
                >
            </div>

            <div class="form-group">
                <input
                    type="password"
                    name="password2"
                    placeholder="Confirm Password"
                    required
                >
            </div>

            <button class="auth-btn">
                Update Password
            </button>

        </form>

    </div>

</div>

{% endblock %}