{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="otp-wrapper">

    <div class="otp-card">

        <!-- Anime Image -->
        <div class="otp-image">
            <img src="{% static 'shop/images/anime/anime_otp.jpeg' %}" alt="anime">
        </div>

        <h2>Reset Password 🔒</h2>
        <p class="sub-text">Create a new secure password for your account</p>

        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input
                type="password"
                name="password1"
                class="password-box"
                placeholder="New Password"
                required
            >

            <input
                type="password"
                name="password2"
                class="password-box"
                placeholder="Confirm Password"
                required
            >

            <button type="submit" class="verify-btn">
                Update Password
            </button>
        </form>

    </div>

</div>
{% endblock %}

{% block extra_css %}
<style>

.otp-wrapper {
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
}

.otp-card{
    width:350px;
    background:#111827;
    border-radius:16px;
    padding:40px;
    text-align:center;
    box-shadow:0 10px 40px rgba(0,0,0,.6);
    animation:fadeIn .6s ease;
}

.otp-card h2{
    color:#fff;
}

.sub-text{
    color:#9ca3af;
    margin-bottom:20px;
    font-size:14px;
}

.password-box{
    width:100%;
    height:50px;
    background:#1f2937;
    border:2px solid #374151;
    border-radius:10px;
    color:#fff;
    padding:0 15px;
    margin-bottom:18px;
    box-sizing:border-box;
    transition:.3s;
}

.password-box::placeholder{
    color:#9ca3af;
}

.password-box:focus{
    outline:none;
    border-color:#ff4d6d;
    box-shadow:0 0 10px #ff4d6d;
}

.verify-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#ff4d6d;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.verify-btn:hover{
    background:#ff1e4d;
}

.alert{
    color:#f87171;
    margin-bottom:15px;
}

.otp-image img{
    width:140px;
    margin-bottom:10px;
    animation:float 3s ease-in-out infinite;
    rotate:-90deg;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(.9);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

</style>
{% endblock %}